/* HOME */

.home-section {
  padding-top: 4.25rem;
  padding-bottom: 4rem;
}

.home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 6rem;
  margin-bottom: 2.25rem;
}

.home-header img {
  margin-right: 2.25rem;
  height: 210px;
}

.home-header h1 {
  margin-bottom: var(--grid-small);
}

.home-header p {
  margin-bottom: var(--grid-xlarge);
}

.home-header-text a {
  color: var(--color-blue-link);
  text-decoration: underline;
}

.home-header-text a:hover, .home-header-text a:active {
  color: var(--color-medium-blue-shadow);
}

/* ABOUT */

.about-section, .contact-section {
  padding: 3.5rem 0;
}

.about-section {
  background-color: var(--color-brown-100);
}

.about-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-header img {
  height: 46px;
  -webkit-filter: drop-shadow(0 0 12px var(--color-brown-400-transparent));
  filter: drop-shadow(0 0 12px var(--color-brown-400-transparent));
}

.about-header img:hover {
  -webkit-filter: drop-shadow(0 0 12px var(--color-brown-400));
  filter: drop-shadow(0 0 12px var(--color-brown-400));
}

.about-section p {
  margin-top: var(--grid-small);
  margin-bottom: var(--grid-mega);
}

.skills-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills-item ul {
  margin-top: var(--grid-small);
  padding-inline-start: var(--grid-xlarge);
}

.skills-item h5 {
  position: relative;
  z-index: 0;
  display: inline-flex; /* Make the width match text width */
}

.skills-item h5::before {
  content: '';
  position: absolute;
  /* bottom: 4px;
  left: 9px;
  width: calc(100% - 4px);
  height: 65%; */
  bottom: 1px;
  left: 12px;
  width: calc(100% - 4px);
  height: 50%;
  z-index: -1;
}

.skills-item h5.purple::before {
  background-color: var(--color-highlight-purple);
}

.skills-item h5.pink::before {
  background-color: var(--color-highlight-pink);
}

.skills-item h5.red::before {
  background-color: var(--color-highlight-red);
}

.skills-item h5.orange::before {
  background-color: var(--color-highlight-orange);
}

.skills-item h5.yellow::before {
  background-color: var(--color-highlight-yellow);
}

/* CONTACT */

.contact-section {
  background-color: var(--color-brown-300);
}

.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-content h3 {
  margin-bottom: var(--grid-medium);
}

.contact-column {
  display: flex;
  flex-direction: column;
  gap: var(--grid-xsmall);
}

.contact-item {
  color: var(--color-black);
  font-weight: 600;
}

.contact-item svg, .contact-item a {
  color: inherit;
}

.contact-item a {
  margin-left: var(--grid-small);
}

.contact-item:hover, .contact-item:active {
  color: var(--color-gold-100);
}

.contact-content img {
  height: 235px;
  padding: 0 6rem;
}

/* RESPONSIVE STYLES */

/* Less than --grid-page-width */
@media (max-width: 1045px) {
  .home-header {
    padding: 0 var(--grid-medium);
  }

  .home-header img {
    margin-right: var(--grid-medium);
  }

  .contact-content img {
    padding: 0 var(--grid-mega);
  }
}

/* Tablet mobile version */
@media (max-width: 880px) {
  .home-section, .about-section, .contact-section {
    padding: var(--grid-mega) 0;
  }

  .home-page .page-container {
    max-width: 500px;
    margin: 0 auto;
  }

  .home-header {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0;
    padding-bottom: var(--grid-xlarge);
  }

  .home-header h1 {
    font-size: 3.6rem;
    margin: var(--grid-small) 0;
  }

  .home-header p {
    margin-bottom: 0;
  }

  .about-section p {
    margin-bottom: var(--grid-xlarge);
  }

  .skills-row {
    flex-direction: column;
  }

  .skills-item ul {
    margin-top: var(--grid-xxsmall);
  }

  .contact-content {
    flex-direction: column;
    gap: var(--grid-large);
  }

  .contact-content img {
    max-width: 525px;
    height: auto;
    /* Safari: set object-fit to counteract height:auto not working */
    object-fit: contain;
  }

  .contact-column {
    gap: var(--grid-xxsmall);
  }
}

/* Phone mobile version */
@media (max-width: 532px) {
  .home-page .page-container {
    max-width: none;
    margin: 0 var(--grid-medium);
  }

  .home-header h1 {
    font-size: 3.2rem;
    margin: var(--grid-xxsmall) 0;
  }

  .home-page h3 {
    font-size: 2.8rem;
  }

  .about-header img {
    height: 42px;
  }

  .contact-content h3 {
    margin-bottom: var(--grid-small);
  }

  .contact-content img {
    padding: 0;
  }
}
