.opensource-introduction {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  margin-top: 2.5rem;
}

.project-page .opensource-introduction-item h5 {
  margin-top: 0;
}

.project-content img.icon, .project-content img.opensource-introduction-item {
  margin: 0;
}

img.opensource-introduction-item {
  height: 280px;
}

.callout {
  display: flex;
  flex-direction: row;
  background-color: #EBF5FB;
  border: 2px solid #A3D6F6;
  border-radius: 9px;
  padding: var(--grid-medium) var(--grid-large);
  margin-top: var(--grid-small);
}

.project-content img.icon {
  margin-right: var(--grid-xsmall);
  height: 1.4rem;
}

.callout-text {
  font-weight: 700;
}

/* RESPONSIVE STYLES */

@media (max-width: 880px) {
  .opensource-introduction {
    flex-direction: column;
    gap: var(--grid-small);
  }

  img.opensource-introduction-item {
    height: auto;
    width: 410px;
  }
}

@media (max-width: 548px) {
  img.opensource-introduction-item {
    width: auto;
  }
}