.project-card {
  position: relative;
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 500px; */
  border-radius: 9px;
  box-shadow: 0 0 24px 2px var(--color-brown-400-transparent);
}

.project-card-text {
  position: absolute;
  top: var(--grid-mega);
  left: 2.3rem;
  width: 90%;
  color: var(--color-black);
}

.project-card h4 {
  margin-bottom: var(--grid-small);
  overflow: hidden;
}

.project-card img {
  width: 100%;
  /* height: 100%; */
}

/* Hover state */
.project-card:hover {
  box-shadow: 0 0 32px 4px var(--color-brown-400);
}

.project-card:hover .project-card-selection {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  border: 3px solid var(--color-brown-100);
}

/* Dark mode */
.project-card-text.dark {
  color: var(--color-white);
}

/* Smaller state, same as h5 */
.project-card-text.small h4 {
  font-size: 2rem;
  margin-bottom: var(--grid-xsmall);
}

/* Responsive styles */

/* Less than --grid-page-width */
@media (max-width: 1045px) {
  .project-card-text h4 {
    font-size: 2rem;
    margin-bottom: var(--grid-xsmall);
  }

  .project-card-text {
    top: var(--grid-xlarge);
    left: 1.7rem;
  }
}