.main-container {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.main-item {
  width: 400px;
}

.main-item > p, .main-item > a {
  margin: 12px 0;
}