:root {
  /* General colors */
  --color-white: #FFFFFF; /* FFFBF6 */
  --color-black: #000000;
  --color-black-transparent: rgba(0,0,0,0.25);
  --color-blue-link: #0277BD;
  --color-brown-100: #F9F2E8;
  --color-brown-300: #B6977E;
  --color-brown-400: #A09277;
  --color-brown-400-transparent: rgba(160,146,119,0.4);
  --color-gold-100: #F8E1B3;
  --color-gold-200: #debf8a;
  --color-gold-300: #d0b07e;
  --color-gold-400: #bd986a;
  --color-gold-500: #ab7f54;

  /* Home highlight colors */
  --color-highlight-purple: #E0C4ED;
  --color-highlight-pink: #F7CCDD;
  --color-highlight-red: #F9C8B2;
  --color-highlight-yellow: #F8DCA0;

  /* Project colors */
  --color-green-base: #CEEAC5;
  --color-green-shadow: #9BC38F;
  --color-navy-base: #313976;
  --color-navy-shadow: #171F58;
  --color-pink-base: #F3D2E0;
  --color-pink-shadow: #E9B8CC;
  --color-light-blue-base: #AFD9F3;
  --color-light-blue-shadow: #7CB8DD;
  --color-medium-blue-base: #4466AE;
  --color-medium-blue-shadow: #1E418C;
  --color-lavender-base: #D6CCFF;
  --color-lavender-shadow: #B0A6DC;

  /* Font */
  --font-size-default: 1.1rem;

  /* Grid */
  --grid-micro: 0.2rem;
  --grid-xxsmall: 0.4rem;
  --grid-xsmall: 0.6rem;
  --grid-small: 0.8rem;
  --grid-medium: 1rem;
  --grid-large: 1.2rem;
  --grid-xlarge: 1.5rem;
  --grid-mega: 2rem;
  --grid-page-width: 1045px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: var(--font-size-default);
  color: var(--color-black);
  background-color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

/* Font Styles */
h1, h2, h3, h4, h5 {
  font-family: scotch-deck, serif;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3.3rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: var(--font-size-default);
  font-weight: 700;
  margin: 0;
}

p {
  font-size: var(--font-size-default);
  margin: 0;
}

img {
  display: block;
}

/* set width and center */
.page-container {
  max-width: var(--grid-page-width);
	margin: 0 auto;
}

.projects-grid {
  display: flex;
  flex-direction: column;
  gap: var(--grid-xlarge);
}

.projects-grid-row {
  display: flex;
  flex-direction: row;
  gap: var(--grid-xlarge);
}

.gold-border-bottom {
  position: relative;
}

.gold-border-bottom::after {
  content: '';
  position: absolute;
  bottom: -6px;
  width: 100%;
  border-bottom: 12px solid var(--color-gold-300);
  border-image-source: url('assets/common/gold_border.png');
  border-image-slice: 100;
  border-image-repeat: repeat;
  z-index: 1;
}

/* RESPONSIVE STYLES */

/* Less than --grid-page-width + (--grid-xlarge * 2) */
@media (max-width: 1093px) {
	.page-container {
		max-width: none;
	  margin: 0 var(--grid-xlarge);
	}

  .projects-grid, .projects-grid-row {
    gap: var(--grid-medium);
  }
}

/* Tablet mobile version */
@media (max-width: 880px) {
  .projects-grid {
    margin: 0 auto;
  }

  .projects-grid-row {
    flex-direction: column;
  }
}

/* Phone mobile version */
@media (max-width: 532px) {
	.page-container {
	  margin: 0 var(--grid-medium);
	}
}
