nav {
  position: sticky;
  top: 0;
  z-index: 2;
	padding-top: var(--grid-small);
  padding-bottom: calc(var(--grid-small) - 2px);
	background-color: var(--color-brown-300);
  border-bottom-width: 2px; 
  border-bottom-style: solid;
  border-image: linear-gradient(to right, var(--color-gold-300), var(--color-gold-100), var(--color-gold-300)) 30;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-menu {
	display: flex;
	flex-direction: row;
	margin: 0;
}

nav a {
  color: var(--color-black);
	font-weight: 600;
}

nav a.home-nav-link {
	font-family: scotch-deck, sans-serif;
	font-size: 1.2rem;
}

nav a:not(.home-nav-link) {
	padding-left: var(--grid-mega);
}

nav a:hover, nav a:active {
  color: var(--color-gold-100);
}
