/* GENERAL STYLES */

.project-page h5 {
  margin-top: 2.5rem;
  margin-bottom: var(--grid-xsmall);
}

.project-content h6 {
  margin-top: var(--grid-small);
}

.project-content p {
  margin-top: var(--grid-xsmall);
}

/* Indent all lines except first line */
.project-content p.numbered {
  text-indent: calc(-1 * var(--grid-large));
  padding-left: var(--grid-large);
}

.project-content img, .project-content video {
  display: block;
  max-width: 100%;
  margin: var(--grid-xsmall) 0;
}

.project-content video {
  -webkit-filter: drop-shadow(0 0 12px var(--color-black-transparent));
  filter: drop-shadow(0 0 12px var(--color-black-transparent));
}

/* every p that has a p or h6 before */
.project-content p + p, .project-content h6 + p {
  margin-top: 0.3rem;
}

/* every p that has an img or video before */
.project-content img + p, .project-content video + p {
  margin-top: var(--grid-xlarge);
}

/* every img that has a p before */
.project-content p + img {
  margin-top: var(--grid-small);
}

.project-content a {
  color: var(--color-blue-link);
  text-decoration: underline;
}

.project-content a:hover, .project-content a:active {
  color: var(--color-medium-blue-shadow);
}

/* PROJECT BANNER */

.project-banner.genshin {
  background-image: linear-gradient(to bottom, var(--color-green-base) 30%, var(--color-green-shadow));
}

.project-banner.mario {
  background-image: linear-gradient(to bottom, var(--color-navy-base) 30%, var(--color-navy-shadow));
}

.project-banner.blackjack {
  background-image: linear-gradient(to bottom, var(--color-pink-base) 30%, var(--color-pink-shadow));
}

.project-banner.opensource {
  background-image: linear-gradient(to bottom, var(--color-light-blue-base) 30%, var(--color-light-blue-shadow));
}

.project-banner.kubernetes {
  background-image: linear-gradient(to bottom, var(--color-medium-blue-base) 30%, var(--color-medium-blue-shadow));
}

.project-banner.capacity {
  background-image: linear-gradient(to bottom, var(--color-lavender-base) 30%, var(--color-lavender-shadow));
}

.project-banner .page-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.project-banner img {
  width: 950px;
  margin-top: 9rem;
}

.project-banner .project-banner-text {
  position: absolute;
  top: 4rem;
  left: 0;
}

.project-banner-text h2 {
  margin-bottom: var(--grid-xlarge);
}

.project-banner-text p {
  font-size: 1.3rem;
}

/* Dark mode */
.project-banner-text.dark {
  color: var(--color-white);
}

/* Double line text customization */
.project-banner.genshin .project-banner-text {
  width: 70%;
}

.project-banner.mario .project-banner-text {
  width: 60%;
}

/* SIMILAR PROJECTS GRID */

.similar-project-content {
  margin-bottom: 3rem;
}

.similar-project-content h5 {
  margin-bottom: var(--grid-small);
}

/* RESPONSIVE STYLES */

/* Tablet mobile version */
@media (max-width: 880px) {
  .project-banner .project-banner-text {
    top: var(--grid-mega);
  }

  .project-banner-text h2 {
    font-size: 2.6rem;
    margin-bottom: var(--grid-small);
  }

  .project-banner img {
    width: 100%;
    margin-top: 7rem;
  }

  .project-page h5 {
    margin-top: var(--grid-mega);
  }

  .similar-project-content {
    max-width: 500px;
  }
}

/* Phone mobile version */
@media (max-width: 532px) {
  .project-banner.genshin .project-banner-text, .project-banner.mario .project-banner-text {
    width: 100%;
  }

  .project-banner .project-banner-text {
    top: var(--grid-large);
  }

  .project-banner-text h2 {
    font-size: 2rem;
  }

  .project-banner-text p {
    font-size: var(--font-size-default);
  }

  .project-page h5 {
    font-size: 1.5rem;
    margin-bottom: var(--grid-xxsmall);
    margin-top: var(--grid-large);
  }

  /* every p that has a h5 before */
  .project-page h5 + p {
    margin-top: var(--grid-xxsmall);
  }

  /* every p that has an img or video before */
  .project-content img + p, .project-content video + p {
    margin-top: var(--grid-medium);
  }

  .similar-project-content {
    max-width: none;
    margin-bottom: var(--grid-mega);
  }
}
